/* Mobile and Tablet */
@media (min-width: 0px)  {
    .main-content {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    
    .post-container {
        
    }
    
    .post-head {
        background-color: var(--medium-blue);
        height: 62px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    
    .post-media-container {
        grid-area: post-media-container;
    }
    
    .post-media {
        width: 100%;
    }
    
    .chat-container {
        background-color: var(--medium-blue);
        height: 500px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 3px;
    }

}





/* Desktops && Laptops */
@media (min-width: 1025px)  {
    .main-content {
        width: 80%;
        height: 90%;
        min-width: 900px;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
    }
    
    .post-container {
        grid-area: post-head;
        display: grid;
        min-width: 500px;
        grid-template-columns: 1fr;
        grid-template-rows: 82px 1.8fr;
        grid-template-areas: "post-head" "post-media-container";
        margin: 0 auto;
        flex: .65;
    }
    
    .post-head {
        background-color: var(--medium-blue);
        height: 82px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    
    .post-media-container {
        grid-area: post-media-container;
    }
    
    .post-media {
        width: 100%;
    }
    
    .chat-container {
        background-color: var(--medium-blue);
        flex: .3;
        margin-top: 0px;
        height: 100%;
        min-height: 400px;
        max-height: 850px;
    }

}










.post-title{
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    overflow-wrap: break-word;
    text-align: left;
    padding-left: 100px;
    width: 70%;
    margin-top: 5px;
}


.title-bar-detaills-container{
    background-color: var(--real-medium-bl);
    height: 100%;
    width: 83px;
    float: left;
    border-top-left-radius: 3px;
}

.detaills-op-prof-pic{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 10px
}

.detaills-op-username{
    color: rgb(150, 150, 150);
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 100;
    text-align: center;
    margin-top: 4px;
    word-wrap: break-word
}

