.main-content {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}

.post-container {
    grid-area: post-head;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 82px 1.8fr;
    grid-template-areas: "post-head" "post-media-container";
}

.post-head {
    background-color: var(--medium-blue);
    width: 75%;
    height: 82px;
    margin: 0 auto;
}

.post-media-container {
    grid-area: post-media-container;
    display: inline-block;
}

.post-media {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}